<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<title>{{meta_title}}</title>
	<meta name="description" content="{{meta_description}}" />

	<meta name="HandheldFriendly" content="True" />
	<meta name="MobileOptimized" content="320" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="alternate" type="application/rss+xml" href="{{@blog.url}}/rss/">
	<link rel="shortcut icon" href="{{asset "favicon.ico"}}">
	<link rel="prefetch" href="{{@blog.url}}">
	
	<link href="https://fonts.googleapis.com/css?family=Lato|Oswald" rel="stylesheet"> 
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{{asset "css/main.css"}}" />

	<meta property="og:title" content="{{meta_title}}" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{@blog.url}}{{url absolute="true"}}" />
	{{#if @blog.cover_image}}<meta property="og:image" content="{{@blog.cover_image}}" />{{/if}}
	{{ghost_head}}
</head>
<body class="{{body_class}}">
	{{{body}}}

	{{ghost_foot}}
	{{! JAVASCRIPT }}
	<script async type="text/javascript" src="{{asset "js/main.bundle.min.js"}}"></script>
</body>
</html>
