<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<title>{{meta_title}}</title>
	<meta name="description" content="{{meta_description}}" />

	<meta name="HandheldFriendly" content="True" />
	<meta name="MobileOptimized" content="320" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="alternate" type="application/rss+xml" href="{{@blog.url}}/rss/">
	<link rel="shortcut icon" href="{{asset "favicon.ico"}}">
	<link rel="prefetch" href="{{@blog.url}}">
	
	<link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Lato|Oswald|Montserrat"> 
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.10.0/themes/prism.min.css" r/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.10.0/themes/prism-okaidia.min.css">  
	<link rel="stylesheet" href="{{asset "css/main.css"}}" />

	<meta property="og:title" content="{{meta_title}}" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{@blog.url}}{{url absolute="true"}}" />

	{{#if @blog.cover_image}}
		<meta property="og:image" content="{{@blog.cover_image}}" />
	{{/if}}
				
	{{ghost_head}}
</head>
<body class="{{body_class}}">
	{{{body}}}

	{{ghost_foot}}
	{{! JAVASCRIPT }}
	<script>
		window.fbAsyncInit = function() {
			FB.init({
				appId            : '149410059045403',
			    autoLogAppEvents : true,
			    cookie           : true,
			    xfbml            : true,
			    version          : 'v2.11'
			});
		};
		(function(d, s, id) {
	    	var js, fjs = d.getElementsByTagName(s)[0];
    		if (d.getElementById(id)) {return;}
     	    js = d.createElement(s); js.id = id;
    		js.src = "https://connect.facebook.net/en_US/sdk.js";
    		fjs.parentNode.insertBefore(js, fjs);
  		}(document, 'script', 'facebook-jssdk'));
  	</script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.10.0/prism.min.js"></script>
  	<script async type="text/javascript" src="{{asset "js/main.bundle.min.js"}}"></script>
</body>
</html>
